/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/2/9/7/494243.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: bottom;
height: 100%;
font-family: 'Numans', sans-serif;
}

h3{
	text-align: center;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 38%;
margin-top: auto;
margin-bottom: auto;
width: 50%;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
font-size: 42px;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
text-align: center;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;

}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
font-size: 22px;
}

.links a{
margin-left: 4px;

}


#forgetPassword {
	color: white;
}

.card-footer{
	background-color : #FFC312;
	opacity: 0.9;
}

#creer {
	color: #FFC312;
}

 #btnDemo {
	color: black;
	opacity: 1;
	text-decoration: none;
	width: 100%;
	height: 100%;
	text-align: center;
}

.card-footer:hover {
	opacity: 1;
	border: black 1px solid;
	background-color: white;
} 

.card-body {
	color : white;
}
